.hidden {
  display: none;
}

body {
  background-color: indianred;
}

.card {
  margin: 10px;
  padding: 10px;
  border: solid 5px;
  border-radius: 10px 10px 10px 10px;
}

h5.card-title {
  font-weight: 900;
}

li {
  font-size: large;
}

.jumbotron {
  text-align: center;
  background-color:floralwhite;

}

#banner-pic {
  float: center;
  width: 200px;
  height: auto;
  margin: 5px;
}

#banner-title {
  font-weight: 900;
}

#results {
  text-align: center;
  color:azure;
  font-weight: 1000;
  /* -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black; */
}

.button-container {
  text-align: center;
}